<!-- app/views/maternity_sessions/_form.html.erb -->

<%= form_with(model: maternity_session, local: true) do |form| %>
  <% if maternity_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maternity_session.errors.count, "error") %> prohibited this maternity session from being saved:</h2>

      <ul>
        <% maternity_session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
