<p style="color: green"><%= notice %></p>

<%= render @newborn_session %>

<div>
  <%= link_to "Edit this newborn session", edit_newborn_session_path(@newborn_session) %> |
  <%= link_to "Back to newborn sessions", newborn_sessions_path %>

  <%= button_to "Destroy this newborn session", @newborn_session, method: :delete %>
</div>
