<%= form_with(model: child_session) do |form| %>
  <% if child_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(child_session.errors.count, "error") %> prohibited this child_session from being saved:</h2>

      <ul>
        <% child_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
