<p style="color: green"><%= notice %></p>

<%= render @child_session %>

<div>
  <%= link_to "Edit this child session", edit_child_session_path(@child_session) %> |
  <%= link_to "Back to child sessions", child_sessions_path %>

  <%= button_to "Destroy this child session", @child_session, method: :delete %>
</div>
